<div class="signup-form">
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Register</h2>
    <p class="hint-text">Create your account. It's free and only takes a minute.</p>
    <div class="form-group">
      <input type="text" required #firstName="ngModel" [(ngModel)]="customerModel.firstName" [class.is-invalid]="firstName.invalid && firstName.touched"
        class="form-control" name="firstName" placeholder="First Name">
      <small [class.d-none]="firstName.valid || firstName.untouched">Please provide your first name.</small>
    </div>

    <div class="form-group">
      <input type="text" required #lastName="ngModel" [(ngModel)]="customerModel.lastName" [class.is-invalid]="lastName.invalid && lastName.touched"
        class="form-control" name="lastName" placeholder="Last Name">
      <small [class.d-none]="lastName.valid || lastName.untouched">Please provide your last name.</small>
    </div>

    <div class="form-group">
      <input type="text" required #username="ngModel" [(ngModel)]="customerModel.username" [class.is-invalid]="username.invalid && username.touched "
        class="form-control" name="username" placeholder="Username">
      <small [class.d-none]="username.valid || username.untouched">Please choose a username.</small>
      <div *ngIf="!this.firstTryUsername">
        <small>The username is not available, please choose another one.</small>
      </div>
    </div>

    <div class="form-group">
      <input type="password" required #password="ngModel" [(ngModel)]="customerModel.password" [class.is-invalid]="password.invalid && password.touched"
        class="form-control" name="password" placeholder="Password">
      <small [class.d-none]="password.valid || password.untouched">Please choose a password.</small>
    </div>

    <div class="form-group">
      <button [disabled]="registrationForm.form.invalid" class="btn btn-success btn-lg btn-block">Register Now</button>
    </div>

    <a href="login"><p class="hint-text">Aldready have an account? Login here!</p></a>
  </form>
</div>